In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

EXERCISE 1.

In [20]:
binomDist = stats.binom(10, 0.01)

In [ ]:
df = pd.DataFrame(liste)

In [39]:
p_liste = [ 0.05, 0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 0.95, 0.99]
print("r\tp(r)")

for n in p_liste:
    binomDist = stats.binom(10, n)
    liste=[]
    for i in range(10):
        liste.append(binomDist.cdf(i))
    df[n] = pd.DataFrame(liste)

r	p(r)

In [36]:
liste

[0.9043820750088044,
 0.9957337997571686,
 0.9998861508820942,
 0.9999979987238431,
 0.9999999758321568,
 0.9999999997971061,
 0.9999999999988313,
 0.9999999999999956,
 0.9999999999999999,
 0.9999999999999999]

In [37]:
df = pd.DataFrame(liste)

In [38]:
df

          0
0  0.904382
1  0.995734
2  0.999886
3  0.999998
4  1.000000
5  1.000000
6  1.000000
7  1.000000
8  1.000000
9  1.000000

In [40]:
df

,0.00,0.05,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,0.95,0.99
0,0.904382,0.598737,0.348678,0.107374,0.028248,0.006047,0.000977,0.000105,0.000006,1.024000e-07,1.000000e-10,9.765625e-14,1.000000e-20
1,0.995734,0.913862,0.736099,0.375810,0.149308,0.046357,0.010742,0.001678,0.000144,4.198400e-06,9.100000e-09,1.865234e-11,9.910000e-18
2,0.999886,0.988496,0.929809,0.677800,0.382783,0.167290,0.054688,0.012295,0.001590,7.792640e-05,3.736000e-07,1.605078e-09,4.420360e-15
3,0.999998,0.998972,0.987205,0.879126,0.649611,0.382281,0.171875,0.054762,0.010592,8.643584e-04,9.121600e-06,8.198398e-08,1.168779e-12
4,1.000000,0.999936,0.998365,0.967207,0.849732,0.633103,0.376953,0.166239,0.047349,6.369382e-03,1.469026e-04,2.754583e-06,2.028939e-10
5,1.000000,0.999997,0.999853,0.993631,0.952651,0.833761,0.623047,0.366897,0.150268,3.279350e-02,1.634937e-03,6.368983e-05,2.416784e-08
6,1.000000,1.000000,0.999991,0.999136,0.989408,0.945238,0.828125,0.617719,0.350389,1.208739e-01,1.279520e-02,1.028498e-03,2.001276e-06
7,1.000000,1.000000,1.000000,0.999922,0.998410,0.987705,0.945312,0.832710,0.617217,3.222005e-01,7.019083e-02,1.150356e-02,1.138491e-04
8,1.000000,1.000000,1.000000,0.999996,0.999856,0.998322,0.989258,0.953643,0.850692,6.241904e-01,2.639011e-01,8.613836e-02,4.266200e-03
9,1.000000,1.000000,1.000000,1.000000,0.999994,0.999895,0.999023,0.993953,0.971752,8.926258e-01,6.513216e-01,4.012631e-01,9.561792e-02

EXERCISE 2.

1.

In [49]:
binomDist = stats.binom(10, 0.3)

In [55]:
1-binomDist.cdf(0)

0.9717524751000001

2.

In [56]:
binomDist = stats.binom(10, 0.5)

In [57]:
1-binomDist.cdf(7)

0.0546875

In [60]:
binomDist.pmf(7)

0.11718750000000014

In [61]:
binomDist.cdf(7)

0.9453125

EXERCISE 3.

1.

In [62]:
poissonDist = stats.poisson(5)

In [64]:
1-poissonDist.cdf(10)

0.013695268598382881

2.

In [65]:
poissonDist = stats.poisson(2)

In [66]:
poissonDist.pmf(4)

0.09022352215774178

In [67]:
1-poissonDist.cdf(3)

0.14287653950145296

In [68]:
poissonDist.cdf(3)

0.857123460498547

In [69]:
1-poissonDist.cdf(2)

0.3233235838169366

EXERCISE 4.

In [70]:
binomDist = stats.binom(20, 0.05)

In [72]:
poissonDist = stats.poisson(0.05)

In [71]:
for i in range(5):
    print(binomDist.pmf(i))

0.3584859224085422
0.3773536025353074
0.18867680126765365
0.05958214776873269
0.013327585685111255

In [74]:
for i in range(5):
    print(poissonDist.pmf(i))

0.951229424500714
0.04756147122503571
0.001189036780625893
1.9817279677098202e-05
2.4771599596372765e-07